<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SuperLottery</title>
  <link rel="icon" href="logo.png" type="image/x-icon">
  <!-- Our Styles -->
  <link rel="stylesheet" href="css/main.css">
  <insert-html link="https://swag31415.github.io/Portfolio/inserts/head.html"></insert-html>
</head>

<body>
  <insert-html link="https://swag31415.github.io/Portfolio/inserts/menu.html"></insert-html>
  <canvas id="confetti-canvas"></canvas>
  <main id="app" class="container">
    <h1 class="title">SuperLotto</h1>
    <button v-if="state === 'init'" @click="start()" class="start-button">Spill Superlotto!</button>
    <h1 class="bobly">Vinnertall</h1>
    <div class="numbers">
      <div>
        <div v-for="n in winning_nums" v-text="n"></div>
      </div>
    </div>
    <h1 v-if="state !== 'init'" class="bobly">Mine rekker</h1>
    <div v-if="state !== 'init'" class="numbers">
      <div>
        <div v-for="n in our_nums" v-text="n"></div>
      </div>
      <div v-for="nums in other_nums">
        <div v-for="n in nums" v-text="n"></div>
      </div>
    </div>
    <button v-if="state === 'playing'" @click="pause()" class="make-me-win-button">Pause</button>
    <button v-if="state === 'done'" @click="again()" class="start-button">Spill igjen! Bli rik!</button>
    <!-- Test area -->
    <div class="stats-container">
      <h2 class="stats-title">Statistikk</h2>
      <div class="stats-column">
        <div class="stats-row">
          <div class="stat-label">Rekker spilt per sekund</div>
          <div class="stat-value" v-text="stats.plays_per_second"></div>
        </div>
        <div class="stats-row">
          <div class="stat-label">Rekker spilt</div>
          <div class="stat-value" v-text="stats.plays"></div>
        </div>
        <div class="stats-row">
          <div class="stat-label">4 rette</div>
          <div class="stat-value" v-text="stats._4_number_matches"></div>
        </div>
        <div class="stats-row">
          <div class="stat-label">5 rette</div>
          <div class="stat-value" v-text="stats._5_number_matches"></div>
        </div>
        <div class="stats-row">
          <div class="stat-label">6 rette</div>
          <div class="stat-value" v-text="stats._6_number_matches"></div>
        </div>
        <div class="stats-row">
          <div class="stat-label">6 + 1 rette</div>
          <div class="stat-value" v-text="stats._6_1_number_matches"></div>
        </div>
        <div class="stats-row">
          <div class="stat-label">7 rette</div>
          <div class="stat-value" v-text="stats.real_wins"></div>
        </div>
      </div>
      <div class="stats-column">
        <div class="stats-row">
          <div class="stat-label">Innsats per sekund</div>
          <div class="stat-value" v-text="money(stats.cost_per_second)"></div>
        </div>
        <div class="stats-row">
          <div class="stat-label">Total innsats</div>
          <div class="stat-value" v-text="money(stats.total_cost)"></div>
        </div>
        <div class="stats-row">
          <div class="stat-label">Total gevinst</div>
          <div class="stat-value" v-text="money(stats.total_won)"></div>
        </div>
        <div class="stats-row">
          <div class="stat-label">Vinner-ratio</div>
          <div class="stat-value" v-text="stats.profitt"></div>
        </div>
        <div class="stats-row">
          <div class="stat-label">Tid brukt</div>
          <div class="stat-value" v-text="time_since(stats.time_started)"></div>
        </div>
      </div>
    </div>
  </main>
  <insert-html link="https://swag31415.github.io/Portfolio/inserts/foot.html"></insert-html>
  <!-- HTML Inserts -->
  <script src="https://swag31415.github.io/Portfolio/js/html_inserts.js"></script>
  <!-- Vue.js -->
  <script src="https://unpkg.com/vue@3.2.37/dist/vue.global.prod.js"></script>
  <!-- Our Scripts -->
  <script src="js/main.js"></script>
</body>

</html>
